GOOGLE_APPLICATION_CREDENTIALS = your Google developer account key
OPENAI_API_KEY = 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
PINECONE_API_KEY = key
PINECONE_API_ENV = key
PINECONE_INSTANCE_NAME = instance name